<div class="container text-center col-lg-12">

    <h2 class="text-center">Create new Category</h2>

    <div class="row" style="margin-top: 20px;">
        <div class="container">
            <div class="col-lg-10">
                <input required class="form-control" #inCategory="ngModel" type="text" name="inputCategory"
                       [(ngModel)]="componentModel.createdCategory.Name" placeholder="New Category">
            </div>
            <ui-switch class="col-lg-2" [(ngModel)]="componentModel.createdCategory.Active"></ui-switch>
        </div>
    </div>


    <div style="margin-top: 20px;">
        <ul>
            <li [hidden]="inCategory.valid || inCategory.untouched">Category name is require</li>
        </ul>
        <ul *ngFor="let errors of componentModel.errorCreatedCategory">
            <li *ngFor="let item of errors.ErrorsMessage">{{item}}</li>
        </ul>
    </div>

    <div style="margin-top: 20px;" *ngIf="componentModel.creatingItem">Loading...</div>

    <div class="row" style="margin-top: 20px;">
        <div class="container">
            <div class="col-lg-6">
                <button [disabled]="inCategory.invalid || inCategory.untouched" style="margin-top: 20px;"
                        class="btn btn-primary btn-block" (click)="createCategory(componentModel.createdCategory)">
                    Create
                </button>
            </div>
            <div class="col-lg-6">
                <a style="margin-top: 20px;" class="btn btn-danger btn-block" routerLink="/adminpanel/create/news">Create new news</a>
            </div>
        </div>
    </div>
</div>