<div class="container">
    <div class="text-center">
        <div class="text-primary" style="font-size:20px; font-style:italic; font-weight:bold">
            {{news.Title}}
        </div>
        <div class="text-success">
            Category: <i>{{news.CategoryName}}</i>
        </div>
        <div class="text-muted">
            Published date: {{news.CreatedDate}}
        </div>
        <div class="text-muted">
            Author: {{news.UserName}}
        </div>
        <div class="text-muted">
            Description: {{news.Description}}
        </div>
    </div>

    <div #div style="margin-top:50px;"></div>
</div>
