<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <link href="~/app/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/app/assets/css/Site.css" rel="stylesheet">

    <base href="./">
</head>
<body>
    <div class="container">
        <app-root>Loading...</app-root>
    </div>

    <script src="~/app/assets/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/app/assets/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/app/inline.bundle.js"></script>
    <script type="text/javascript" src="~/app/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/app/scripts.bundle.js"></script>
    <script type="text/javascript" src="~/app/styles.bundle.js"></script>
    <script type="text/javascript" src="~/app/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/app/main.bundle.js"></script>

    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
</body>
</html>